$background-color: #101217;
$background-color-2: lighten($background-color, 2%);
$primary-text: #A2A4B3;
$text-color: #C5C7D0;
$placeholder-text: #6F7182;
$border-color: #1B1D23;
$active-icon-color: #A2A4B3;
$hover-color: #1C1E26;
$border-radius: 4px;